body {
    margin: 0%;
    padding: 0%;
}
h3{
    text-align: center;
    color: aqua;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
p {
    text-align: center;
    color: aqua;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}